USE [master]
GO
/****** Object:  Database [SectiePolitieDB]    Script Date: 01/23/2026 2:18:39 PM ******/
CREATE DATABASE [SectiePolitieDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SectiePolitieDB', FILENAME = N'D:\Microsoft SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\SectiePolitieDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SectiePolitieDB_log', FILENAME = N'D:\Microsoft SQL\MSSQL15.SQLEXPRESS\MSSQL\DATA\SectiePolitieDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SectiePolitieDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SectiePolitieDB]
GO
/****** Object:  Table [dbo].[Adrese]    Script Date: 01/23/2026 2:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adrese](
	[id_adresa] [int] IDENTITY(1,1) NOT NULL,
	[strada] [nvarchar](100) NOT NULL,
	[numar] [nvarchar](10) NOT NULL,
	[bloc] [nvarchar](10) NULL,
	[apartament] [int] NULL,
	[localitate] [nvarchar](50) NOT NULL,
	[judet_sau_sector] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_adresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Amenzi]    Script Date: 01/23/2026 2:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Amenzi](
	[id_amenda] [int] IDENTITY(1,1) NOT NULL,
	[data_emitere] [datetime2](7) NOT NULL,
	[motiv] [nvarchar](255) NOT NULL,
	[suma] [decimal](10, 2) NOT NULL,
	[stare_plata] [nvarchar](20) NOT NULL,
	[id_persoana] [int] NULL,
	[id_politist] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_amenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Incidente]    Script Date: 01/23/2026 2:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Incidente](
	[id_incident] [int] IDENTITY(1,1) NOT NULL,
	[tip_incident] [nvarchar](100) NOT NULL,
	[data_emitere] [datetime2](7) NOT NULL,
	[descriere_locatie] [nvarchar](255) NULL,
	[descriere_incident] [nvarchar](max) NOT NULL,
	[id_politist_responsabil] [int] NULL,
	[id_adresa_incident] [int] NULL,
	[status] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_incident] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persoane]    Script Date: 01/23/2026 2:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persoane](
	[id_persoana] [int] IDENTITY(1,1) NOT NULL,
	[nume] [nvarchar](50) NOT NULL,
	[prenume] [nvarchar](50) NOT NULL,
	[CNP] [nvarchar](13) NOT NULL,
	[data_nasterii] [date] NULL,
	[telefon] [nvarchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_persoana] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persoane_Adrese]    Script Date: 01/23/2026 2:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persoane_Adrese](
	[id_persoana] [int] NOT NULL,
	[id_adresa] [int] NOT NULL,
	[tip_adresa] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Persoane_Adrese] PRIMARY KEY CLUSTERED 
(
	[id_persoana] ASC,
	[id_adresa] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persoane_Incidente]    Script Date: 01/23/2026 2:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persoane_Incidente](
	[id_persoana] [int] NOT NULL,
	[id_incident] [int] NOT NULL,
	[calitate] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Persoane_Incidente] PRIMARY KEY CLUSTERED 
(
	[id_persoana] ASC,
	[id_incident] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Politisti]    Script Date: 01/23/2026 2:18:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Politisti](
	[id_politist] [int] IDENTITY(1,1) NOT NULL,
	[nume] [nvarchar](50) NOT NULL,
	[prenume] [nvarchar](50) NOT NULL,
	[grad] [nvarchar](50) NULL,
	[functie] [nvarchar](100) NULL,
	[telefon_serviciu] [nvarchar](15) NULL,
	[username] [varchar](50) NULL,
	[password] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_politist] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adrese] ON 

INSERT [dbo].[Adrese] ([id_adresa], [strada], [numar], [bloc], [apartament], [localitate], [judet_sau_sector]) VALUES (1, N'Strada Pacii', N'172', NULL, 60, N'Cluj-Napoca', N'Cluj')
INSERT [dbo].[Adrese] ([id_adresa], [strada], [numar], [bloc], [apartament], [localitate], [judet_sau_sector]) VALUES (2, N'Strada Mihai Eminescu', N'78', N'45', 71, N'Bucuresti', N'Sector 3')
INSERT [dbo].[Adrese] ([id_adresa], [strada], [numar], [bloc], [apartament], [localitate], [judet_sau_sector]) VALUES (3, N'Bulevardul Eroilor', N'75', NULL, NULL, N'Cluj-Napoca', N'Cluj')
GO
SET IDENTITY_INSERT [dbo].[Adrese] OFF
GO
SET IDENTITY_INSERT [dbo].[Amenzi] ON 

INSERT [dbo].[Amenzi] ([id_amenda], [data_emitere], [motiv], [suma], [stare_plata], [id_persoana], [id_politist]) VALUES (1, CAST(N'2025-12-20T19:00:00.0000000' AS DateTime2), N'Parcare ilegala', CAST(2175.00 AS Decimal(10, 2)), N'Neplatita', 71, 17)
INSERT [dbo].[Amenzi] ([id_amenda], [data_emitere], [motiv], [suma], [stare_plata], [id_persoana], [id_politist]) VALUES (2, CAST(N'2025-11-28T09:00:00.0000000' AS DateTime2), N'Parcare ilegala', CAST(2525.00 AS Decimal(10, 2)), N'Platita', 137, 40)
INSERT [dbo].[Amenzi] ([id_amenda], [data_emitere], [motiv], [suma], [stare_plata], [id_persoana], [id_politist]) VALUES (3, CAST(N'2025-04-28T13:00:00.0000000' AS DateTime2), N'Parcare ilegala', CAST(2900.00 AS Decimal(10, 2)), N'Anulata', 189, 40)
GO
SET IDENTITY_INSERT [dbo].[Amenzi] OFF
GO
SET IDENTITY_INSERT [dbo].[Incidente] ON 

INSERT [dbo].[Incidente] ([id_incident], [tip_incident], [data_emitere], [descriere_locatie], [descriere_incident], [id_politist_responsabil], [id_adresa_incident], [status]) VALUES (1, N'Disparitie Persoana', CAST(N'2025-05-22T10:00:00.0000000' AS DateTime2), N'Pe aleea din spatele blocului', N'Incident semnalat prin 112.', 15, 35, N'Activ')
INSERT [dbo].[Incidente] ([id_incident], [tip_incident], [data_emitere], [descriere_locatie], [descriere_incident], [id_politist_responsabil], [id_adresa_incident], [status]) VALUES (2, N'Incendiu', CAST(N'2025-04-25T13:00:00.0000000' AS DateTime2), N'In fata Spitalului Judetean', N'Incident semnalat prin 112.', 12, 72, N'Închis')
INSERT [dbo].[Incidente] ([id_incident], [tip_incident], [data_emitere], [descriere_locatie], [descriere_incident], [id_politist_responsabil], [id_adresa_incident], [status]) VALUES (3, N'Vandalism', CAST(N'2025-01-17T12:00:00.0000000' AS DateTime2), N'In fata Spitalului Judetean', N'Distrugere de bunuri in spatiul public.', 31, 3, N'Închis')
GO
SET IDENTITY_INSERT [dbo].[Incidente] OFF
GO
SET IDENTITY_INSERT [dbo].[Persoane] ON 

INSERT [dbo].[Persoane] ([id_persoana], [nume], [prenume], [CNP], [data_nasterii], [telefon]) VALUES (1, N'Stoica', N'Elena', N'1641201182991', CAST(N'1964-12-01' AS Date), N'0787083850')
INSERT [dbo].[Persoane] ([id_persoana], [nume], [prenume], [CNP], [data_nasterii], [telefon]) VALUES (2, N'Oprea', N'Maria', N'1470106013171', CAST(N'1947-01-06' AS Date), N'0741263620')
INSERT [dbo].[Persoane] ([id_persoana], [nume], [prenume], [CNP], [data_nasterii], [telefon]) VALUES (3, N'Ionescu', N'Mircea', N'6000120423186', CAST(N'2000-01-20' AS Date), N'0762705905')
GO
SET IDENTITY_INSERT [dbo].[Persoane] OFF
GO
INSERT [dbo].[Persoane_Adrese] ([id_persoana], [id_adresa], [tip_adresa]) VALUES (1, 15, N'Domiciliu')
INSERT [dbo].[Persoane_Adrese] ([id_persoana], [id_adresa], [tip_adresa]) VALUES (2, 80, N'Domiciliu')
INSERT [dbo].[Persoane_Adrese] ([id_persoana], [id_adresa], [tip_adresa]) VALUES (3, 53, N'Domiciliu')
GO
INSERT [dbo].[Persoane_Incidente] ([id_persoana], [id_incident], [calitate]) VALUES (1, 45, N'Victima')
INSERT [dbo].[Persoane_Incidente] ([id_persoana], [id_incident], [calitate]) VALUES (1, 94, N'Suspect')
INSERT [dbo].[Persoane_Incidente] ([id_persoana], [id_incident], [calitate]) VALUES (1, 106, N'Victima')
GO
SET IDENTITY_INSERT [dbo].[Politisti] ON 

INSERT [dbo].[Politisti] ([id_politist], [nume], [prenume], [grad], [functie], [telefon_serviciu], [username], [password]) VALUES (1, N'Popescu', N'Andrei', N'Agent', N'Rutiera', N'0711111111', NULL, NULL)
INSERT [dbo].[Politisti] ([id_politist], [nume], [prenume], [grad], [functie], [telefon_serviciu], [username], [password]) VALUES (2, N'Popescu', N'Andrei', N'Comisar', N'Investigatii Criminale', N'0722222222', NULL, NULL)
INSERT [dbo].[Politisti] ([id_politist], [nume], [prenume], [grad], [functie], [telefon_serviciu], [username], [password]) VALUES (3, N'Nistor', N'Mihai', N'Agent Sef', N'Investigatii Criminale', N'0705871148', NULL, NULL)
SET IDENTITY_INSERT [dbo].[Politisti] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Persoane__C1FF677D2C0CCA20]    Script Date: 01/23/2026 2:18:39 PM ******/
ALTER TABLE [dbo].[Persoane] ADD UNIQUE NONCLUSTERED 
(
	[CNP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Politisti_Telefon_Unic]    Script Date: 01/23/2026 2:18:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Politisti_Telefon_Unic] ON [dbo].[Politisti]
(
	[telefon_serviciu] ASC
)
WHERE ([telefon_serviciu] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Politisti_Username_Unique]    Script Date: 01/23/2026 2:18:39 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Politisti_Username_Unique] ON [dbo].[Politisti]
(
	[username] ASC
)
WHERE ([username] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Incidente] ADD  DEFAULT ('Activ') FOR [status]
GO
ALTER TABLE [dbo].[Amenzi]  WITH CHECK ADD  CONSTRAINT [FK_Amenda_Persoana] FOREIGN KEY([id_persoana])
REFERENCES [dbo].[Persoane] ([id_persoana])
GO
ALTER TABLE [dbo].[Amenzi] CHECK CONSTRAINT [FK_Amenda_Persoana]
GO
ALTER TABLE [dbo].[Amenzi]  WITH CHECK ADD  CONSTRAINT [FK_Amenda_Politist] FOREIGN KEY([id_politist])
REFERENCES [dbo].[Politisti] ([id_politist])
GO
ALTER TABLE [dbo].[Amenzi] CHECK CONSTRAINT [FK_Amenda_Politist]
GO
ALTER TABLE [dbo].[Incidente]  WITH CHECK ADD  CONSTRAINT [FK_Adresa_Incident] FOREIGN KEY([id_adresa_incident])
REFERENCES [dbo].[Adrese] ([id_adresa])
GO
ALTER TABLE [dbo].[Incidente] CHECK CONSTRAINT [FK_Adresa_Incident]
GO
ALTER TABLE [dbo].[Incidente]  WITH CHECK ADD  CONSTRAINT [FK_Incident_Politist] FOREIGN KEY([id_politist_responsabil])
REFERENCES [dbo].[Politisti] ([id_politist])
GO
ALTER TABLE [dbo].[Incidente] CHECK CONSTRAINT [FK_Incident_Politist]
GO
ALTER TABLE [dbo].[Persoane_Adrese]  WITH CHECK ADD  CONSTRAINT [FK_PA_Adresa] FOREIGN KEY([id_adresa])
REFERENCES [dbo].[Adrese] ([id_adresa])
GO
ALTER TABLE [dbo].[Persoane_Adrese] CHECK CONSTRAINT [FK_PA_Adresa]
GO
ALTER TABLE [dbo].[Persoane_Adrese]  WITH CHECK ADD  CONSTRAINT [FK_PA_Persoana] FOREIGN KEY([id_persoana])
REFERENCES [dbo].[Persoane] ([id_persoana])
GO
ALTER TABLE [dbo].[Persoane_Adrese] CHECK CONSTRAINT [FK_PA_Persoana]
GO
ALTER TABLE [dbo].[Persoane_Incidente]  WITH CHECK ADD  CONSTRAINT [FK_PI_Incident] FOREIGN KEY([id_incident])
REFERENCES [dbo].[Incidente] ([id_incident])
GO
ALTER TABLE [dbo].[Persoane_Incidente] CHECK CONSTRAINT [FK_PI_Incident]
GO
ALTER TABLE [dbo].[Persoane_Incidente]  WITH CHECK ADD  CONSTRAINT [FK_PI_Persoana] FOREIGN KEY([id_persoana])
REFERENCES [dbo].[Persoane] ([id_persoana])
GO
ALTER TABLE [dbo].[Persoane_Incidente] CHECK CONSTRAINT [FK_PI_Persoana]
GO
ALTER TABLE [dbo].[Amenzi]  WITH CHECK ADD CHECK  (([stare_plata]='Anulata' OR [stare_plata]='Platita' OR [stare_plata]='Neplatita'))
GO
ALTER TABLE [dbo].[Persoane_Adrese]  WITH CHECK ADD CHECK  (([tip_adresa]='Resedinta' OR [tip_adresa]='Domiciliu'))
GO
ALTER TABLE [dbo].[Persoane_Incidente]  WITH CHECK ADD CHECK  (([calitate]='Reclamant' OR [calitate]='Suspect' OR [calitate]='Martor' OR [calitate]='Victima'))
GO
USE [master]
GO
